@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/rtl';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout/dark';
@import './layout/customizer';

@import './components/VBreadcrumb';
@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';

/*Landing page css*/
@import 'landingpage/header';
@import 'landingpage/general';

@import './pages/datatable';
@import './pages/dashboards';
@import './pages/editor';
@import './pages/authentication';
@import './pages/apps';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';
.v-input__details {
    padding: 0 0 0 2px !important;
}
.v-snackbar__content {
    text-align: right !important;
    font-size: 16px !important;
    // text-transform: capitalize !important;
}
.v-snackbar__wrapper{
    min-width: unset !important;
    width: fit-content !important;
}
.v-input--disabled .v-input__control {
    background :#eee;
    border-radius: 6px;
    // background: #000 !important;
}
.radio-lbl label.v-label.v-label--clickable {
    margin-right: 14px !important;
    padding: 5px !important;
}
// .v-input--density-default .v-field--variant-outlined, .v-input--density-default .v-field--single-line{
//     --v-field-padding-bottom: 0 !important;
// }
.v-input--density-default .v-field--variant-outlined, .v-input--density-default .v-field--single-line{
    --v-field-padding-bottom: 0 !important; 
}
.end-d {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 0 !important;
    padding: 12px 6px 8px 16px !important;
    font-size: 14px;
    min-height: 42px;
}
.disabled-inp {
    background: #eee;
}
.custom-err {
    opacity: 1 !important;
}
.custom-border-color {
    border-color: rgb(250, 137, 107) !important;
}
.flat-calender {
    position: absolute;
    right: 21px;
    top: 54px;
    cursor: pointer;
}
// .v-field__input{
//     padding: 23px;
// }